node_modules

# dotenv
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# images/menu folder
public/images/menu/*

# build folder
build/*

# Elastic Beanstalk Files
.ebextensions/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
